<table border="1" width="100%">
<tr>
    <td>ID</td>
    <td>username</td>
    <td>email</td>
   </tr>
{% for author in authors %}
    <tr> 
    
        <td>{{ author.id }}</td>

        <td>{{ author.username }}</td>

        <td>{{ author.email}}</td>

    </tr>
{% endfor %}
</table>